<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Invoices</title>
</head>
<body>

<div>Hello, {{ user.username }}</div>

<h1>Invoices</h1>

<a href="/invoices/new">Create a new Invoice?</a>

<br>

<table>
  <thead>
    <tr>
      <th>Company</th>
   	  <th>Invoice #</th>
      <th>Created on</th>
      <th>Created by</th>
    </tr>
  </thead>
  <tbody>
    {{#invoice}}
      <tr>
      	<td>{{ company.name }}</td>
      	<td>{{ invoiceNumber }}</td>
        <td>{{ createdOn }}</td>
        <td>{{ createdBy.username }}</td>
       </tr>
    {{/invoice}}
  </tbody>  
</table>

</body>
</html>